ipython
ipykernel
jupyter
scikit-image
scipy
matplotlib
seaborn
numpy
pandas
Pillow
pykdtree
pyparsing
pyrsistent
pytest
python-dateutil
read-roi
Send2Trash
tifffile
virtualenvwrapper-win
opencv-python
lmfit
lifelines
snapgene-reader